In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("./realdonaldtrump.csv")

In [3]:
data

,id,link,content,date,retweets,favorites,mentions,hashtags
0,1698308935,https://twitter.com/realDonaldTrump/status/169...,Be sure to tune in and watch Donald Trump on L...,2009-05-04 13:54:25,510,917,NaN,NaN
1,1701461182,https://twitter.com/realDonaldTrump/status/170...,Donald Trump will be appearing on The View tom...,2009-05-04 20:00:10,34,267,NaN,NaN
2,1737479987,https://twitter.com/realDonaldTrump/status/173...,Donald Trump reads Top Ten Financial Tips on L...,2009-05-08 08:38:08,13,19,NaN,NaN
3,1741160716,https://twitter.com/realDonaldTrump/status/174...,New Blog Post: Celebrity Apprentice Finale and...,2009-05-08 15:40:15,11,26,NaN,NaN
4,1773561338,https://twitter.com/realDonaldTrump/status/177...,"""My persona will never be that of a wallflower...",2009-05-12 09:07:28,1375,1945,NaN,NaN
...,...,...,...,...,...,...,...,...
43347,1273405198698975232,https://twitter.com/realDonaldTrump/status/127...,Joe Biden was a TOTAL FAILURE in Government. H...,2020-06-17 19:00:32,23402,116377,NaN,NaN
43348,1273408026968457216,https://twitter.com/realDonaldTrump/status/127...,Will be interviewed on @ seanhannity tonight a...,2020-06-17 19:11:47,11810,56659,@seanhannity,NaN
43349,1273442195161387008,https://twitter.com/realDonaldTrump/status/127...,pic.twitter.com/3lm1spbU8X,2020-06-17 21:27:33,4959,19344,NaN,NaN
43350,1273442469066276864,https://twitter.com/realDonaldTrump/status/127...,pic.twitter.com/vpCE5MadUz,2020-06-17 21:28:38,4627,17022,NaN,NaN
43351,1273442528411385858,https://twitter.com/realDonaldTrump/status/127...,pic.twitter.com/VLlc0BHW41,2020-06-17 21:28:52,3951,14344,NaN,NaN

In [4]:
keep_col = ['content','date']

In [11]:
new_data_2 = data[keep_col]

In [12]:
new_data_2

                                                 content                 date
0      Be sure to tune in and watch Donald Trump on L...  2009-05-04 13:54:25
1      Donald Trump will be appearing on The View tom...  2009-05-04 20:00:10
2      Donald Trump reads Top Ten Financial Tips on L...  2009-05-08 08:38:08
3      New Blog Post: Celebrity Apprentice Finale and...  2009-05-08 15:40:15
4      "My persona will never be that of a wallflower...  2009-05-12 09:07:28
...                                                  ...                  ...
43347  Joe Biden was a TOTAL FAILURE in Government. H...  2020-06-17 19:00:32
43348  Will be interviewed on @ seanhannity tonight a...  2020-06-17 19:11:47
43349                         pic.twitter.com/3lm1spbU8X  2020-06-17 21:27:33
43350                         pic.twitter.com/vpCE5MadUz  2020-06-17 21:28:38
43351                         pic.twitter.com/VLlc0BHW41  2020-06-17 21:28:52

[43352 rows x 2 columns]

In [13]:
new_data_2.insert(0, 'Name', 'Donald Trump')

In [14]:
new_data_2

,Name,content,date
0,Donald Trump,Be sure to tune in and watch Donald Trump on L...,2009-05-04 13:54:25
1,Donald Trump,Donald Trump will be appearing on The View tom...,2009-05-04 20:00:10
2,Donald Trump,Donald Trump reads Top Ten Financial Tips on L...,2009-05-08 08:38:08
3,Donald Trump,New Blog Post: Celebrity Apprentice Finale and...,2009-05-08 15:40:15
4,Donald Trump,"""My persona will never be that of a wallflower...",2009-05-12 09:07:28
...,...,...,...
43347,Donald Trump,Joe Biden was a TOTAL FAILURE in Government. H...,2020-06-17 19:00:32
43348,Donald Trump,Will be interviewed on @ seanhannity tonight a...,2020-06-17 19:11:47
43349,Donald Trump,pic.twitter.com/3lm1spbU8X,2020-06-17 21:27:33
43350,Donald Trump,pic.twitter.com/vpCE5MadUz,2020-06-17 21:28:38
43351,Donald Trump,pic.twitter.com/VLlc0BHW41,2020-06-17 21:28:52

In [15]:
new_data_2.to_csv("Donald_Trump_Tweets.csv", index=False)